<div class="album py-5 bg-light">
    <div class="container">
      <div *ngIf="actualizado!=null" class="alert alert-{{ alertCSS }} alert-dismissible fade show" role="alert">
        <strong>{{ mesajeDatosActualizado}}</strong>
        <button type="button" (click)="eliminarMensaje()" click class="btn-close" data-dismiss="alert" aria-label="Close">
        </button>
      </div>
      <button type="button" class="btn btn-primary mr-3 mb-5" (click)="altaProducto()"  title="Añadir Productos" data-bs-toggle="modal" data-bs-target="#modalAlta"  >
        <i class="fa fa-plus"></i>
        Añadir producto
      </button>
      <div class="row">
        <div class="col-md-4" *ngFor="let producto of productos; index as i">
          <div class="card mb-4 box-shadow align-items-center">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 280px; width: 60%; display: block;" src="{{ producto.image }}"/>
            <div class="card-body">
              <p class="card-text">{{ producto.title }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" title="Ver detalle"  (click)="verDetalleProducto(producto)"  data-bs-toggle="modal" data-bs-target="#modalDetalle"  class="btn btn-sm btn-outline-secondary">  <i class="fa fa-eye"></i></button>
                  <button type="button" title="Editar producto"  (click)="verEditarProducto(producto)" data-bs-toggle="modal" data-bs-target="#modalDetalle" class="btn btn-sm btn-outline-secondary"><i class="fa fa-edit"> </i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="productoSelect" class="modal modal-xl" id="modalDetalle">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalle del producto</h4>
                <button type="button" #closebuttonActualizar class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div *ngIf="alertCSS!=null" class="alert alert-{{ alertCSS }} alert-dismissible fade show" role="alert">
              <strong>{{ mesajeDatosActualizado}}</strong>
              <button type="button" (click)="eliminarMensaje()" click class="btn-close" data-dismiss="alert" aria-label="Close">
              </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
              <div class="row">
                <div class="col-4">
                  <img *ngIf="productoSeleccionado!=null" class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 100px; width: 40%; display: block;" src="{{ productoSeleccionado.image }}"/>
                </div>
                <div class="col-8">
                <input *ngIf="productoSeleccionado!=null" type="text" [(ngModel)]="productoSeleccionado.image" class="form-control" disabled="{{ editarProducto }}" >
              </div>
              </div>
                <div class="row">
                  <div class="col-4">
                    <label for="">Id:</label>
                   <input *ngIf="productoSeleccionado!=null" type="text" [(ngModel)]="productoSeleccionado.id" class="form-control" disabled>
                </div>
                    <div class="col-8">
                        <label for="">Nombre</label>
                       <input *ngIf="productoSeleccionado!=null" type="text" [(ngModel)]="productoSeleccionado.title" class="form-control" disabled="{{ editarProducto }}">
                    </div>
                </div>
                <div class="row">
                  <div class="col-4">
                      <label for="">Precio</label>
                     <input *ngIf="productoSeleccionado!=null" type="text" [(ngModel)]="productoSeleccionado.price" class="form-control" disabled="{{ editarProducto }}">
                  </div>
                  <div class="col-4">
                      <label for="">Categoría</label>
                      <input *ngIf="productoSeleccionado!=null" type="text" [(ngModel)]="productoSeleccionado.category" class="form-control" disabled="{{ editarProducto }}">
                  </div>
              </div>
              <div class="row">
                <div class="col-12">
                   <label for="">Descripción</label>
                   <textarea *ngIf="productoSeleccionado!=null"  [(ngModel)]="productoSeleccionado.description" class="form-control" disabled="{{ editarProducto }}"></textarea>
                </div>
              </div>
            </div>
          
            <!-- Modal footer -->
            <div class="modal-footer">
               <button *ngIf="!editarProducto" (click)="confirmActualizarProducto(productoSeleccionado)" type="button" class="btn btn-primary" ><i class="fa fa-save"></i>Guardar</button>
               <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fa fa-window-close"></i>Candelar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="modalAlta">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Nuevo producto</h4>
              <button type="button" #closebuttonAlta class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div *ngIf="alertCSS!=null" class="alert alert-{{ alertCSS }} alert-dismissible fade show" role="alert">
            <strong>{{ mesajeDatosActualizado}}</strong>
            <button type="button" (click)="eliminarMensaje()" click class="btn-close" data-dismiss="alert" aria-label="Close">
            </button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <form [formGroup]="productForm" method="post">
              <div class="row">
                <div class="col-12">
                  <label for="title">Nombre*</label>
                  <input formControlName="title" placeholder="Nombre" class="form-control">
                </div>
              </div>

              <div class="row">
                <div class="col-4">
                  <label for="title">Precio</label>
                  <input type="number" formControlName="price" placeholder="Price" class="form-control">
                </div>
                <div class="col-8">
                  <label for="category">Categoria</label>
                  <input formControlName="category" placeholder="Category" class="form-control">
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <label for="description">Descripción</label>
                  <textarea formControlName="description" placeholder="Description" class="form-control"></textarea>
            
                </div>
              </div>
              
              <div class="row">
                <div class="col-12">
                  <label for="description">Url imagen producto*</label>
                  <input type="url" formControlName="image" placeholder="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" class="form-control">
                </div>
              </div>
            </form>
            <p>* Son datos obligatorios</p>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
              <button type="button"  (click)="this.guardarProducto()"  class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fa fa-window-close"></i>Cancelar</button>
          </div>

      </div>
  </div>
</div>