<main>
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">Menú</h1>
    <p class="fs-5 text-body-secondary">Accesos directos a la gestión de productos y usuarios</p>
  </div>
    <div class="row row-cols-1 row-cols-md-2 mb-2 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Productos</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Gestión de productos</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Alta nuevos producto</li>
              <li>Modificar producto</li>
              <li>Ver detalle producto</li>
            </ul>
            <a routerLink="productos" class="w-100 btn btn-lg btn-outline-dark" routerLinkActive="active">Ir a Productos</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Usuarios</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Gestión de usuarios</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Modificar Usuario</li>
              <li>Eliminar usuario</li>
              <li>&nbsp;</li>
            </ul>
            <a routerLink="usuarios"  class="w-100 btn btn-lg btn-outline-dark" routerLinkActive="active">Ir a Usuarios</a>
          </div>
        </div>
      </div>
      
    </div>
  
  </main>